@charset "UTF-8";

/*================================================================
about
================================================================*/
.about {
  width: 100%;
  height: auto;
  position: relative;

  &__background {
    background-image: url(../images/about_back.png);
    position: absolute;
    width: 631px;
    height: 140px;
    top: -5%;
    left: 15%;
    z-index: -1;
  }

  &__box {
    background-image: url(../images/ABOUT_box.png);
    width: 402px;
    height: 390px;
    position: absolute;
    top: 30%;
    left: 58%;
    z-index: -1;
  }

  &__container {
    width: $container_width;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 100px;
    display: flex;
  }

  &__left {
    margin-right: 100px;
  }

  &__right {
    &--sp {
      display: none;
    }
  }

  &__title {
    color: $font-color2;
    font-size: $section-font-size;
    font-weight: bold;
    margin: 60px 0 40px 0px;
  }

  &__description {
    color: $font-color2;
    font-size: 18px;
    line-height: 32px;
  }
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    &__container {
      flex-direction: column;
      width: 700px;
    }

    &__left {
      order: 2;
      position: relative;
    }

    &__title {
      position: absolute;
      top: -600px;
    }

    &__right {
      order: 1;
    }
  }
}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .about {
    &__background {
      background-size: contain;
      width: 223px;
      height: 50px;
      top: 15%;
      left: 10%;
    }

    &__box {
      background-image: url(../images/ABOUT_box.png);
      width: 265px;
      height: 160px;
      position: absolute;
      top: 40%;
      left: 28%;
      z-index: -1;
    }

    &__container {
      width: 327px;
      flex-direction: column;
    }

    &__left {
      order: 2;
      position: relative;
      margin: 0;
    }

    &__title {
      position: absolute;
      top: -300px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 24px;
      width: 180px;
    }

    &__description {
      margin-top: 40px;
    }

    &__right {
      order: 1;
      margin-top: 230px;

      &--pc {
        display: none;
      }

      &--sp {
        display: block;
      }
    }
  }
}
