@charset "UTF-8";
/*================================================================
about
================================================================*/
.about {
  width: 100%;
  height: auto;

  &__container {
    display: flex;
    padding-bottom: 100px;
    position: relative;
    width: $container_width;
    margin: 0 auto;
    margin-top: 150px;
  }

  &__background {
    background-image: url(../images/about_back.png);
    position: absolute;
    width: 631px;
    height: 140px;
    top: -5%;
    left: -15%;
    z-index: -1;
  }

  &__box {
    background-image: url(../images/ABOUT_box.png);
    width: 402px;
    height: 390px;
    position: absolute;
    top: 140px;
    left: 30px;
    z-index: -1;
  }

  &__left {
    margin-right: 100px;
    position: relative;
  }

  &__right {
    position: relative;

    &--sp {
      display: none;
    }
  }

  &__title {
    color: $font-black;
    font-size: $section-title-font-size;
    font-weight: bold;
    margin: 90px 0 40px 0px;
  }

  &__description {
    color: $font-black;
    font-size: 18px;
    line-height: 32px;
    
  }
}
/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    &__container {
      width: 90%;
    }

    &__title {
      font-size: 36px;
      margin-top: 40px;
    }

    &__left {
      margin-right: 10px;
    }

    &__right {
      img {
        transform: scale(0.9);
      }
    }

    &__box {
      width: 95%;
      height: 75%;
    }
  }
}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .about {
    &__container {
      overflow: hidden;
      width: 90%;
      flex-direction: column;
      margin-top: 0;
      padding: 0;
    }

    &__background {
      background-size: cover;
      position: absolute;
      width: 285px;
      height: 60px;
      top: 18%;
      left: -5%;
    }

    &__left {
      order: 2;
      margin: 0;
    }

    &__title {
      position: absolute;
      top: -350px;
      left: 52%;
      transform: translateX(-50%);
      font-size: 24px;
      width: 180px;
    }

    &__description {
      font-size: 16px;
      line-height: 32px;
      width: 327px;
      margin: 0 auto;
      padding-top: 58px;
    }

    &__right {
      order: 1;
      position: relative;
      margin-top: 242px;
      width: 100%;

      img {
        width: auto;
        margin: 0 auto;
      }

      &--pc {
        display: none;
      }

      &--sp {
        display: block;
      }
    }

    &__box {
      background-image: url(../images/ABOUT_box.png);
      width: 265px;
      height: 160px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -30%);
      z-index: -1;
    }
  }
}
