@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+JP&family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*================================================================
common
================================================================*/
body {
  font-family: "Noto Sans CJK JP", "Noto Sans JP", sans-serif, "Manrope", "sans-serif";
}

/*================================================================
top
================================================================*/
.top {
  background-image: url(../images/top.png);
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
}

.top__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 42px;
  margin: 0 auto;
  padding: 52px 73px 153px 83px;
}

.top__logo img {
  width: 100%;
  height: 35px;
}

.top__lists {
  display: flex;
  color: #FFFFFF;
  font-weight: bold;
  line-height: 42px;
}

.top__item1 {
  margin-right: 38px;
}

.top__item1 a {
  letter-spacing: 0.04em;
}

.top__item2 {
  margin-right: 33px;
}

.top__item2 a {
  letter-spacing: 0.04em;
}

.top__item3 {
  margin-right: 33px;
}

.top__item3 a {
  letter-spacing: 0.04em;
}

.top__item4 a {
  letter-spacing: 0.04em;
}

.top__box {
  color: #FFFFFF;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 25%;
  padding-left: 130px;
}

.top__title {
  color: #FFFFFF;
  font-size: 110px;
  font-weight: bold;
  font-family: "Roboto";
  letter-spacing: 0.04em;
  line-height: 128%;
  margin-bottom: 32px;
}

.top__subtitle {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.04em;
}

/*================================================================
js-top
================================================================*/
.js--hamburger {
  display: none;
  height: 80px;
  width: 80px;
  position: fixed;
  top: 0;
  right: 15px;
  cursor: pointer;
  z-index: 300;
}

.js--hamburger span {
  height: 1px;
  width: 24px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}

.js--hamburger .js--line_1 {
  transform: translate(-50%, -8px);
}

.js--hamburger .js--line_3 {
  transform: translate(-50%, 8px);
}

.js--hamburger.active .js--line_1 {
  transform: rotate(45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
  background: #222222;
}

.js--hamburger.active .js--line_2 {
  opacity: 0;
}

.js--hamburger.active .js--line_3 {
  transform: rotate(-45deg) translate(-50%, 0);
  transform-origin: 0% 50%;
  background: #222222;
}

.js--list {
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}

.js--list.active {
  opacity: 1;
  visibility: visible;
}

.js--list ul {
  margin: 90px 0 0 61px;
}

.js--list li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top__menu {
    padding: 52px 24px 153px 44px;
  }
  .top__box {
    padding-left: 24px;
  }
  .top__logo img {
    width: 205px;
    height: 35px;
  }
  .top__item1 {
    margin-right: 18px;
  }
  .top__item2 {
    margin-right: 18px;
  }
  .top__item3 {
    margin-right: 18px;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .top {
    width: 100%;
    position: relative;
  }
  .top__menu {
    display: block;
    padding: 26px 20px 0 20px;
  }
  .top__box {
    bottom: 20%;
    position: absolute;
    padding: 20px;
    width: 100%;
  }
  .top__logo img {
    width: 147px;
    height: 25px;
  }
  .top__nuv {
    display: none;
  }
  .top__title {
    font-size: 47px;
  }
  .top__subtitle {
    font-size: 16px;
  }
  .js--hamburger {
    display: block;
    right: 0;
  }
}

/*================================================================
about
================================================================*/
.about {
  width: 100%;
  height: auto;
}

.about__container {
  display: flex;
  padding-bottom: 100px;
  position: relative;
  width: 960px;
  margin: 0 auto;
  margin-top: 150px;
}

.about__background {
  background-image: url(../images/about_back.png);
  position: absolute;
  width: 631px;
  height: 140px;
  top: -5%;
  left: -15%;
  z-index: -1;
}

.about__box {
  background-image: url(../images/ABOUT_box.png);
  width: 402px;
  height: 390px;
  position: absolute;
  top: 140px;
  left: 30px;
  z-index: -1;
}

.about__left {
  margin-right: 100px;
  position: relative;
}

.about__right {
  position: relative;
}

.about__right--sp {
  display: none;
}

.about__title {
  color: #222222;
  font-size: 52px;
  font-weight: bold;
  margin: 90px 0 40px 0px;
}

.about__description {
  color: #222222;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about__container {
    width: 90%;
  }
  .about__title {
    font-size: 36px;
    margin-top: 40px;
  }
  .about__left {
    margin-right: 10px;
  }
  .about__right img {
    transform: scale(0.9);
  }
  .about__box {
    width: 95%;
    height: 75%;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .about__container {
    width: 90%;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }
  .about__background {
    background-size: cover;
    position: absolute;
    width: 285px;
    height: 60px;
    top: 20%;
    left: 20%;
  }
  .about__left {
    order: 2;
    margin: 0;
  }
  .about__title {
    position: absolute;
    top: -330px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    width: 180px;
  }
  .about__description {
    width: 327px;
    margin: 0 auto;
    padding-top: 40px;
  }
  .about__right {
    order: 1;
    position: relative;
    margin-top: 230px;
    width: 100%;
  }
  .about__right img {
    width: auto;
    margin: 0 auto;
  }
  .about__right--pc {
    display: none;
  }
  .about__right--sp {
    display: block;
  }
  .about__box {
    background-image: url(../images/ABOUT_box.png);
    width: 265px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -30%);
    z-index: -1;
  }
}

/*================================================================
company
================================================================*/
.company {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.company__container {
  width: 960px;
  margin: 0 auto;
  margin-top: 150px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
}

.company__background {
  background-image: url(../images/COMPANY.png);
  position: absolute;
  width: 720px;
  height: 140px;
  top: -2%;
  left: 50%;
  z-index: -1;
}

.company__box {
  background-image: url(../images/COMPANY_box.png);
  width: 402px;
  height: 390px;
  position: absolute;
  top: 30%;
  left: -15%;
  z-index: -1;
}

.company__left {
  margin-right: 100px;
  position: relative;
}

.company__left--sp {
  display: none;
}

.company__right {
  margin-top: 100px;
}

.company__title {
  color: #222222;
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 40px;
}

.company__descriptions {
  color: #222222;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.04em;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .company__background {
    width: 100%;
  }
  .company__container {
    width: 90%;
  }
  .company__title {
    font-size: 36px;
    margin-top: 40px;
  }
  .company__left {
    margin-right: 10px;
  }
  .company__left img {
    transform: scale(0.9);
  }
  .company__right {
    margin-top: 0;
  }
  .company__box {
    width: 95%;
    height: 75%;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .company__background {
    background-size: cover;
    position: absolute;
    width: 285px;
    height: 60px;
    top: -10%;
    left: 40%;
  }
  .company__box {
    width: 332px;
    height: 160px;
    position: absolute;
    top: 20%;
    left: -20%;
    z-index: -1;
  }
  .company__container {
    margin-top: 192px;
    width: 327px;
    flex-direction: column;
  }
  .company__left--pc {
    display: none;
  }
  .company__left--sp {
    display: block;
  }
  .company__right {
    position: relative;
    margin-top: 40px;
  }
  .company__title {
    position: absolute;
    top: -320px;
    left: 50%;
    transform: translateX(-25%);
    font-size: 24px;
    width: 180px;
  }
}

/*================================================================
contact
================================================================*/
.contact {
  width: 100%;
  height: 364px;
  background-image: url(../images/contact.png);
  background-size: cover;
}

.contact__tittle {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 97px;
  letter-spacing: 0.04em;
}

.contact__tittle--br {
  display: none;
}

.contact__button {
  width: 460px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 68px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2213%22%20height%3D%2220%22%20viewBox%3D%220%200%2013%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0.880005%202.12L8.76%2010L0.880005%2017.88L3%2020L13%2010L3%200L0.880005%202.12Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 422px 30px;
}

.contact__inner {
  background: rgba(255, 255, 255, 0.25);
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 22px;
  text-align: center;
  line-height: 80px;
}

.contact__inner:hover {
  opacity: 0.7;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact__tittle {
    line-height: 44px;
  }
  .contact__tittle--br {
    display: block;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .contact {
    height: 375px;
    background-image: url(../images/contact_sp.png);
    background-size: cover;
  }
  .contact__tittle {
    width: 328px;
    margin: 0 auto;
    font-size: 18px;
    padding-top: 90px;
    line-height: 30px;
  }
  .contact__tittle--br {
    display: block;
  }
  .contact__button {
    background-position: 300px 17px;
    width: 328px;
    height: 58px;
  }
  .contact__inner {
    line-height: 58px;
    font-size: 18px;
  }
  .contact__inner:hover {
    opacity: 1;
  }
}

/*================================================================
service
================================================================*/
body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

.service {
  width: 100%;
  height: auto;
}

.service__background {
  background-image: url(../images/SERVICE.png);
  position: absolute;
  width: 720px;
  height: 140px;
  top: -18%;
  left: -10%;
  z-index: -1;
}

.service__container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  margin-top: 329px;
}

.service__title {
  color: #222222;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 56px;
}

.service__cards {
  display: flex;
  justify-content: space-between;
}

.service__image {
  overflow: hidden;
}

.service__image img {
  transition-duration: 0.8s;
}

.service__image img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.8s;
  opacity: 0.7;
}

.service__content {
  color: #222222;
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0 6px 0;
}

.service__details {
  font-size: 16px;
}

/*================================================================
js-service
================================================================*/
.js--modal {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  letter-spacing: 0.04em;
}

.js--modal.show_modal {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.js--modal2 {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  letter-spacing: 0.04em;
}

.js--modal2.show_modal2 {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.js--modal3 {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  letter-spacing: 0.04em;
}

.js--modal3.show_modal3 {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.js--bg {
  background: rgba(0, 0, 0, 0.45);
  height: 100vh;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.js--content {
  border-radius: 8px;
  height: 50%;
  overflow-y: scroll;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  background-color: #ffffff;
}

.js--header {
  display: flex;
  position: relative;
  margin-bottom: 32px;
}

.js--header img {
  cursor: pointer;
  margin-bottom: 5px;
  position: absolute;
  right: 0;
}

.js--box {
  background: #1d85cd;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  top: -8px;
  left: -40px;
  width: 17px;
  height: 42px;
}

.js--title {
  font-size: 24px;
  font-weight: bold;
  padding-right: 350px;
}

.js--description {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}

.js--inner h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.js--inner ul {
  margin-bottom: 24px;
}

.js--inner ul li {
  margin-bottom: 8px;
}

.js--development h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.js--development p {
  font-size: 18px;
  line-height: 32px;
}

.js--development ul li {
  margin-bottom: 8px;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .service {
    width: 100%;
  }
  .service___background {
    width: 100%;
    overflow: hidden;
  }
  .service__container {
    width: 90%;
  }
  .service__cards {
    justify-content: space-between;
    width: 100%;
    overflow-x: scroll;
  }
  .service__item {
    margin: 0 5px;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .service {
    width: 100%;
  }
  .service__background {
    background-size: cover;
    position: absolute;
    width: 310px;
    height: 60px;
    top: -10%;
    left: 5%;
  }
  .service__container {
    margin-top: 100px;
    width: 90%;
  }
  .service__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
  }
  .service__cards {
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .service__item {
    width: 85%;
    margin-right: 10px;
  }
  /*================================================================
jsスマホ対応
================================================================*/
  .js--content {
    height: 50%;
    left: 50%;
    padding: 33px 16px;
    width: 90%;
  }
  .js--box {
    top: -10px;
    left: -20px;
  }
  .js--title {
    font-size: 18px;
    padding: 0 0 0 16px;
  }
  .js--description {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

/*================================================================
download
================================================================*/
.download {
  width: 100%;
  height: auto;
  overflow: hidden;
  /*================================================================
js download
================================================================*/
}

.download__background {
  background-image: url(../images/DOWNLOAD.png);
  position: absolute;
  width: 1030px;
  height: 140px;
  top: -40%;
  left: 10%;
  z-index: -1;
}

.download__title {
  color: #222222;
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  margin: 253px 0 56px 0;
}

.download__container {
  display: flex;
  position: relative;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 113px;
}

.download__left {
  margin-right: 91px;
}

.download__right {
  margin-top: 73px;
}

.download__description {
  color: #222222;
  line-height: 27px;
  margin-bottom: 50px;
  letter-spacing: 0.04em;
}

.download input[type="checkbox"] {
  display: none;
}

.download input[type="checkbox"]:checked + .download__label::before {
  background: #1dbfcd url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.74999%208.14995L1.59999%204.99995L0.549988%206.04995L4.74999%2010.25L13.75%201.24995L12.7%200.199951L4.74999%208.14995Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E") no-repeat 5px center;
}

.download__label {
  cursor: pointer;
  display: inline-block;
  padding: 15px 0 15px 40px;
  position: relative;
  width: auto;
}

.download__label:before {
  border: 1px solid #1dbfcd;
  background-color: #ffffff;
  border-radius: 4px;
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  top: 50%;
  left: 5px;
  margin-top: -12.5px;
  position: absolute;
}

.download__label a {
  color: #1d85cd;
  text-decoration: underline solid #1d85cd;
}

.download__label span {
  cursor: default;
}

.download__button {
  color: #FFFFFF;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.7917%209.375H15.625V3.125H9.37504V9.375H5.20837L12.5%2016.6667L19.7917%209.375ZM5.20837%2018.75V20.8333H19.7917V18.75H5.20837Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: 36px 11px;
  font-weight: bold;
  width: 240px;
  height: 48px;
  margin-top: 39px;
}

.download .js--button {
  background-color: #1d85cd;
  border-radius: 4px;
  opacity: 0.5;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 48px;
  pointer-events: none;
}

.download .js--button.box__checked {
  pointer-events: auto;
  opacity: 1;
}

.download .js--download__modal {
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  letter-spacing: 0.04em;
}

.download .js--download__modal.show_modal {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.download .js--download__policy {
  background: rgba(0, 0, 0, 0.45);
  height: 100vh;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.download .js--download__content {
  height: 50%;
  overflow-y: scroll;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  background-color: #ffffff;
}

.download .js--download__header {
  display: flex;
  position: relative;
  margin-bottom: 32px;
}

.download .js--download__header img {
  cursor: pointer;
  padding-bottom: 5px;
  position: absolute;
  right: 3%;
}

.download .js--download__box {
  background: #1d85cd;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  top: 0px;
  left: -40px;
  width: 17px;
  height: 42px;
}

.download .js--download__title {
  font-size: 32px;
  font-weight: bold;
}

.download .js--download__description {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}

.download .js--download__list h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.download .js--download__list li {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 24px;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .download {
    width: 100%;
  }
  .download___background {
    width: 100%;
  }
  .download__container {
    width: 90%;
  }
  .download__left {
    margin-right: 10px;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .download {
    /*================================================================
js スマホ
================================================================*/
  }
  .download__background {
    background-size: cover;
    background-repeat: no-repeat;
    width: 470px;
    height: 60px;
    top: -20%;
    left: 0%;
  }
  .download__title {
    font-size: 24px;
    margin-top: 130px;
  }
  .download__container {
    width: 327px;
    display: block;
    margin: 0 auto;
    margin-bottom: 113px;
  }
  .download__left {
    width: 216px;
    height: 277px;
    padding-left: 10px;
    margin: 0 auto;
  }
  .download__left img {
    width: 100%;
    height: 100%;
  }
  .download__description {
    margin-bottom: 27px;
  }
  .download__policy {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 35px;
    padding-left: 40px;
  }
  .download__button {
    margin: 0 auto;
  }
  .download .js--download__content {
    width: 324px;
  }
  .download .js--download__box {
    top: -10px;
    left: -40px;
  }
  .download .js--download__title {
    font-size: 18px;
  }
  .download .js--download__description {
    font-size: 16px;
  }
}

/*================================================================
footer
================================================================*/
.footer {
  width: 100%;
  height: auto;
  letter-spacing: 0.04em;
}

.footer__container {
  display: flex;
  width: 1018px;
  margin: 120px auto 0 auto;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 18px;
}

.footer__address {
  margin-bottom: 16px;
}

.footer__list {
  display: flex;
}

.footer__about {
  border-right: 1px solid #222222;
}

.footer__about a {
  display: block;
  width: 100%;
  padding-right: 16px;
}

.footer__about a:hover {
  opacity: 0.7;
}

.footer__company {
  border-right: 1px solid #222222;
}

.footer__company a {
  display: block;
  width: 100%;
  padding: 0 16px 0 16px;
}

.footer__company a:hover {
  opacity: 0.7;
}

.footer__service {
  border-right: 1px solid #222222;
}

.footer__service a {
  display: block;
  width: 100%;
  padding: 0 16px 0 16px;
}

.footer__service a:hover {
  opacity: 0.7;
}

.footer__download a {
  padding-left: 16px;
}

.footer__download a:hover {
  opacity: 0.7;
}

.footer__copyright {
  font-weight: bold;
  text-align: center;
  margin: 54px 0 40px 0;
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: 100%;
  }
  .footer__container {
    width: 90%;
  }
  .footer__list {
    display: block;
  }
  .footer__list li {
    border-right: none;
    margin-bottom: 16px;
  }
  .footer__list li a {
    padding-left: 0;
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .footer__container {
    display: block;
    width: 300px;
    margin: 100px 0 0 26px;
  }
  .footer__left {
    margin-bottom: 40px;
  }
  .footer__left ul li {
    width: 300px;
  }
  .footer__right {
    width: 250px;
    margin-bottom: 90px;
  }
  .footer__list {
    display: block;
  }
  .footer__list li {
    border-right: none;
    margin-bottom: 16px;
  }
  .footer__list li a {
    padding-left: 0;
  }
  .footer__copyright {
    margin-bottom: 24px;
  }
}
