@charset "UTF-8";
/*================================================================
company
================================================================*/
.company {
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 100px;

  &__container {
    width: $container_width;
    margin: 0 auto;
    margin-top: 150px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
  }

  &__background {
    background-image: url(../images/COMPANY.png);
    position: absolute;
    width: 720px;
    height: 140px;
    top: -2%;
    left: 50%;
    z-index: -1;
  }

  &__box {
    background-image: url(../images/COMPANY_box.png);
    width: 402px;
    height: 390px;
    position: absolute;
    top: 30%;
    left: -15%;
    z-index: -1;
  }

  &__left {
    margin-right: 100px;
    position: relative;

    &--sp {
      display: none;
    }
  }

  &__right {
    margin-top: 100px;
  }

  &__title {
    color: $font-black;
    font-size: $section-title-font-size;
    font-weight: bold;
    margin-bottom: 40px;
  }

  &__descriptions {
    color: $font-black;
    font-size: 18px;
    line-height: 32px;
  }
}
/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .company {
    &__background {
      width: 100%;
    }

    &__container {
      width: 90%;
    }

    &__title {
      font-size: 36px;
      margin-top: 40px;
    }

    &__left {
      margin-right: 10px;

      img {
        transform: scale(0.9);
      }
    }

    &__right {
      margin-top: 0;
    }

    &__box {
      width: 95%;
      height: 75%;
    }
  }
}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .company {
    margin-bottom: 80px;

    &__background {
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 70px;
      top: -22%;
      left: 15%;
    }

    &__box {
      width: 332px;
      height: 160px;
      position: absolute;
      top: 20%;
      left: -20%;
      z-index: -1;
    }

    &__container {
      margin-top: 192px;
      padding-bottom: 0;
      width: 327px;
      flex-direction: column;
    }

    &__left {
      &--pc {
        display: none;
      }

      &--sp {
        display: block;
      }
    }

    &__right {
      position: relative;
      margin-top: 55px;
    }

    &__title {
      position: absolute;
      top: -280px;
      left: 50%;
      transform: translateX(-25%);
      font-size: 24px;
      width: 180px;
    }

    &__descriptions {
      font-size: 16px;
      line-height: 32px;
    }
  }
}
