@charset "UTF-8";
/*================================================================
download
================================================================*/

.download {
  width: 100%;
  height: auto;
  position: relative;

  &__background {
    background-image: url(../images/DOWNLOAD.png);
    position: absolute;
    width: 1030px;
    height: 140px;
    top: -18%;
    left: 30%;
    z-index: -1;
  }

  &__title {
    color: $font-color2;
    font-size: $section-font-size;
    font-weight: bold;
    text-align: center;
    margin: 253px 0 56px 0;
  }

  &__container {
    display: flex;
    width: $container_width;
    margin: 0 auto;
    margin-bottom: 113px;
  }

  &__left {
    margin-right: 91px;
  }

  &__right {
    margin-top: 73px;
  }

  &__description {
    color: $font-color2;
    line-height: 27px;
    margin-bottom: 50px;
    letter-spacing: 0.04em;
  }

  input[type="checkbox"] {
    display: none;
    &:checked + .download__label::before {
      background: #1dbfcd
        url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.74999%208.14995L1.59999%204.99995L0.549988%206.04995L4.74999%2010.25L13.75%201.24995L12.7%200.199951L4.74999%208.14995Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E")
        no-repeat 5px center;
    }
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    padding: 15px 0 15px 40px;
    position: relative;
    width: auto;

    &:before {
      border: 1px solid #1dbfcd;
      background-color: #ffffff;
      border-radius: 4px;
      content: "";
      display: block;
      height: 25px;
      width: 25px;
      top: 50%;
      left: 5px;
      margin-top: -12.5px;
      position: absolute;
    }

    a {
      color: #1d85cd;
      text-decoration: underline solid #1d85cd;
    }

    span {
      cursor: default;
    }
  }

  &__button {
    color: $font-color1;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.7917%209.375H15.625V3.125H9.37504V9.375H5.20837L12.5%2016.6667L19.7917%209.375ZM5.20837%2018.75V20.8333H19.7917V18.75H5.20837Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 36px 11px;
    font-weight: bold;
    width: 240px;
    height: 48px;
    margin-top: 39px;
  }
  /*================================================================
js download
================================================================*/
  .js {
    &--button {
      background-color: #1d85cd;
      border-radius: 4px;
      opacity: 0.5;
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 48px;
      pointer-events: none;

      &.box__checked {
        pointer-events: auto;
        opacity: 1;
      }
    }

    &--download__modal {
      height: 100vh;
      position: fixed;
      top: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s;
      letter-spacing: 0.04em;

      &.show_modal {
        opacity: 1;
        visibility: visible;
        z-index: 100;
      }
    }

    &--download__policy {
      background: rgba(0, 0, 0, 0.45);
      height: 100vh;
      position: absolute;
      width: 100%;
      cursor: pointer;
    }

    &--download__content {
      height: 50%;
      overflow-y: scroll;
      left: 50%;
      padding: 40px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 620px;
      background-color: #ffffff;
    }

    &--download__header {
      display: flex;
      position: relative;
      margin-bottom: 32px;

      img {
        cursor: pointer;
        padding-bottom: 5px;
        position: absolute;
        right: 3%;
      }
    }

    &--download__box {
      background: #1d85cd;
      border-radius: 0px 4px 4px 0px;
      position: absolute;
      top: 0px;
      left: -40px;
      width: 17px;
      height: 42px;
    }

    &--download__title {
      font-size: 32px;
      font-weight: bold;
    }

    &--download__description {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    &--download__list {
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      li {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 24px;
      }
    }
  }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .download {
    &__background {
      background-size: contain;
      background-repeat: no-repeat;
      width: 223px;
      height: 150px;
      top: -5%;
      left: 30%;
    }

    &__title {
      font-size: 24px;
      margin-top: 130px;
    }

    &__container {
      width: 327px;
      display: block;
      margin: 0 auto;
      margin-bottom: 113px;
    }

    &__left {
      width: 216px;
      height: 277px;
      padding-left: 10px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      margin-bottom: 27px;
    }

    &__policy {
      width: 270px;
      margin: 0 auto;
      margin-bottom: 35px;
      padding-left: 40px;
    }

    &__button {
      margin: 0 auto;
    }
    /*================================================================
js スマホ
================================================================*/

    .js {

      &--download__content {
        width: 324px;
      }

      &--download__box {
        top: -10px;
        left: -40px;
      }

      &--download__title {
        font-size: 18px;
      }

      &--download__description {
        font-size: 16px;
      }
    }
  }
}
