@charset "UTF-8";

/*================================================================
service
================================================================*/
.service {
  width: 100%;
  height: auto;
  position: relative;

  &__background {
    background-image: url(../images/SERVICE.png);
    position: absolute;
    width: 720px;
    height: 140px;
    top: -18%;
    left: 20%;
    z-index: -1;
  }

  &__container {
    width: $container_width;
    margin: 0 auto;
    margin-top: 329px;
  }

  &__title {
    color: $font-color2;
    font-size: $section-font-size;
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      transition-duration: 0.8s;
    }

    img:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 0.8s;
      opacity: 0.7;
    }
  }

  &__content {
    color: $font-color2;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0 6px 0;
  }

  &__details {
    font-size: 16px;
  }
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /*================================================================
common
================================================================*/
  body .container {
    width: 650px;
    margin: auto;
  }
  /*================================================================
header
================================================================*/

}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  /*================================================================
common
================================================================*/

  body .container {
    width: 327px;
    margin: auto;
  }
}