@charset "UTF-8";

/*================================================================
service
================================================================*/
body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
  left: 0;
}

.service {
  width: 100%;
  height: auto;
  position: relative;

  &__background {
    background-image: url(../images/SERVICE.png);
    position: absolute;
    width: 720px;
    height: 140px;
    top: -18%;
    left: 20%;
    z-index: -1;
  }

  &__container {
    width: $container_width;
    margin: 0 auto;
    margin-top: 329px;
  }

  &__title {
    color: $font-color2;
    font-size: $section-font-size;
    font-weight: bold;
    text-align: center;
    margin-bottom: 56px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    overflow: hidden;

    img {
      width: 100%;
      transition-duration: 0.8s;
    }

    img:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition-duration: 0.8s;
      opacity: 0.7;
    }
  }

  &__content {
    color: $font-color2;
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0 6px 0;
  }

  &__details {
    font-size: 16px;
  }

  &__item--modal {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.show_modal {
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }

  &__item--bg {
    background: rgba(0, 0, 0, 0.45);
    height: 100vh;
    position: absolute;
    width: 100%;
    cursor: pointer;
  }

    &__item--content {
      height: 50%;
      overflow-y:scroll;
      left: 50%;
      padding: 40px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 620px;
      background-color: #ffffff;
    }

    &__item--header {
      display: flex;
      position: relative;
      margin-bottom: 32px;

      img {
        cursor: pointer;
        margin-bottom: 5px;
        position: absolute;
        right: 3%;
      }
    } 

    &__item--box {
      background: #1D85CD;
      border-radius: 0px 4px 4px 0px;
      position: absolute;
      top: -8px;
      left: -40px;
      width: 17px;
      height: 42px;
    }

    &__item--title {
      font-size: 24px;
      font-weight: bold;
      padding-right: 350px;
    }

    &__item--description {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 24px;
    }

    &__item--inner {
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      ul {
margin-bottom: 24px;
        li{
          margin-bottom: 8px;
        }
      }
    }

    &__item--development {
      h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }

      ul {
        li {
          margin-bottom: 8px;
        }
      }
    }
}

/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .service {
    width: 375px;

    &__background {
      background-size: contain;
      width: 210px;
      height: 40px;
      top: -10%;
      left: 5%;
    }

    &__container {
      margin-top: 100px;
    }

    &__title {
      margin-bottom: 30px;
      text-align: left;
      font-size: 24px;
      padding-left: 150px;
    }

    &__cards {
      width: 90%;
      padding: 0;
      justify-content: space-evenly;
      overflow-x: scroll;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
}
