@charset "UTF-8";

/*================================================================
top
================================================================*/

.top {
  background-image: url(../images/top.png);
  background-size: cover;
  height: 100vh;
  width: 100%;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 1242px;
    height: 42px;
    margin: 0 auto;
    padding-top: 52px;
  }

  &__logo {
    img {
      width: 100%;
      height: 35px;
    }
  }

  &__lists {
    display: flex;
    color: $font-color1;
    font-weight: bold;
    line-height: 42px;
  }

  &__item1 {
    margin-right: 38px;
  }

  &__item2 {
    margin-right: 33px;
  }

  &__item3 {
    margin-right: 33px;
  }

  &__box {
    color: $font-color1;
    width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
  }

  &__title {
    color: $font-color1;
    font-size: 110px;
    font-weight: bold;
    margin-top: 160px;
  }

  &__subtitle {
    color: $font-color1;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
  }
}
/*================================================================
js-top
================================================================*/
.js--hamburger {
  display: none;
  height: 80px;
  width: 80px;
  position: fixed;
  top: 0;
  right: 15px;
  cursor: pointer;
  z-index: 300;

  span {
    height: 1px;
    width: 24px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
  }
  .js--line_1 {
    transform: translate(-50%, -8px);
  }

  .js--line_3 {
    transform: translate(-50%, 8px);
  }

  &.active .js--line_1 {
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
    background: #222222;
  }

  &.active .js--line_2 {
    opacity: 0;
  }

  &.active .js--line_3 {
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
    background: #222222;
  }
}

.js--list {
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  ul {
    margin: 90px 0 0 61px;
  }

  li {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 32px;
  }
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top {
    &__menu {
      display: block;
      width: 700px;
    }

    &__box {
      padding: 280px 0 0 34px;
    }

    &__logo {
      img {
        width: 205px;
        height: 35px;
      }
    }

    &__title {
      font-size: 94px;
    }

    &__subtitle {
      font-size: 32px;
    }
  }
}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .top {
    width: 100%;
    &__menu {
      display: block;
      width: 303px;
      padding-top: 26px;
    }

    &__box {
      width: 350px;
      padding: 380px 0 0 25px;
    }

    &__logo {
      img {
        width: 147px;
        height: 25px;
      }
    }

    &__nuv {
      display: none;
    }

    &__title {
      font-size: 47px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }
  /*================================================================
js スマホ
================================================================*/
  .js--hamburger {
    display: block;
  }
}
