@charset "UTF-8";

/*================================================================
top
================================================================*/ 

.top {
  background-image: url(../images/top.png) ;
  background-size: cover;
  height: 100vh;
  width: 100%;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 1242px;
    height: 42px;
    margin: 0 auto;
    padding-top: 52px;
  }

  &__logo {
    img {
      width: 205px;
      height: 42px;
    }
  }

  &__lists {
    display: flex;
    color: $font-color1;
    font-weight: bold;
    line-height: 42px;
  }

  &__item1 {
    margin-right: 38px;
  }

  &__item2 {
    margin-right: 33px;
  }

  &__item3 {
    margin-right: 33px;
  }

  &__box {
    color: $font-color1;
    width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
  }

  &__title {
    color: $font-color1;
    font-size: 110px;
    font-weight: bold;
  }

  &__subtitle {
    color: $font-color1;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
  }
}