@charset "UTF-8";

/*================================================================
top
================================================================*/

.top {
  background-image: url(../images/top.png);
  background-size: cover;
  height: 100vh;
  width: 100%;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 1242px;
    height: 42px;
    margin: 0 auto;
    padding-top: 52px;
  }

  &__logo {
    img {
      width: 100%;
      height: 35px;
    }
  }

  &__lists {
    display: flex;
    color: $font-color1;
    font-weight: bold;
    line-height: 42px;
  }

  &__item1 {
    margin-right: 38px;
  }

  &__item2 {
    margin-right: 33px;
  }

  &__item3 {
    margin-right: 33px;
  }

  &__box {
    color: $font-color1;
    width: 1200px;
    margin: 0 auto;
    padding-top: 190px;
  }

  &__title {
    color: $font-color1;
    font-size: 110px;
    font-weight: bold;
  }

  &__subtitle {
    color: $font-color1;
    font-size: 32px;
    font-weight: bold;
    margin-top: 32px;
  }
}

/*================================================================
タブレット対応
================================================================*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top {
    &__menu {
      display: block;
      width: 700px;
    }

    &__box {
      padding: 500px 0 0 34px;
    }

    &__logo {
      img {
        width: 205px;
        height: 35px;
      }
    }

    &__title {
      font-size: 94px;
    }

    &__subtitle {
      font-size: 32px;
    }
  }
}
/*================================================================
スマホ対応
================================================================*/
@media only screen and (max-width: 767px) {
  .top {
    &__menu {
      display: block;
      width: 303px;
      padding-top: 26px;
    }

    &__box {
      padding: 380px 0 0 25px;
    }

    &__logo {
      img {
        width: 147px;
        height: 28px;
      }
    }

    &__nuv {
      display: none;
    }

    &__title {
      font-size: 47px;
    }

    &__subtitle {
      font-size: 16px;
    }
  }
}
